<h1>Your wishlist</h1>

<h2>User details</h2>
<strong>Name:</strong> <%= @user.name %><br> 
<strong>Email:</strong> <%= @user.email %>

<div class="cart">
  <% @purchase_items.each do |item| %>
      <div class="artwork-card">
        <div class="artwork-image">
        <%= image_tag artwork_picture_url(item.artwork) %>
        </div>
        <div class="artwork-about">
          Author:<%= item.artwork.user.name %><br>
          Title:<%= item.artwork.title %><br>
          Description:<%= item.artwork.description %><br>
          Price:<%= item.artwork.price %>
        
        <div class="artwork-links">
            <%= link_to 'Changed my mind', purchase_item_path(id: item.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
           
            <%= link_to  "Message the artist", conversations_path(sender_id: current_user.id, recipient_id: item.user.id), method: :post %>
        </div>  
      </div>
</div>

  <% end %>
<%= link_to  "Continue choosing", artworks_path %><br>
  
  
