<p id="notice"><%= notice %></p>

<%= image_tag @artwork.picture if @artwork.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<% if @artwork.user == current_user %>
<%= link_to 'Edit', edit_artwork_path(@artwork) %> 
<% end %><br>
<% if @artwork.user == current_user %>
<%= link_to 'Destroy', @artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 
